.agents-page_em{color:#b3b3b3}
.agents-page_invisible{visibility:hidden}
.agents-page_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.agents-page_desktop-only{display:initial!important;pointer-events:auto}}
.agents-page_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.agents-page_mobile-only{display:initial!important;pointer-events:auto}}
.agents-page_underline{text-decoration:underline}
.agents-page_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.agents-page_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.agents-page_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.agents-page_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.agents-page_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.agents-page_dropdown-content{padding:2rem 0}}
.agents-page_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.agents-page_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.agents-page_dropdown-trigger.agents-page_underlined{border-bottom:1px solid #151717}
.agents-page_dropdown-trigger.agents-page_outlined{border:1px solid rgba(21,23,23,.1)}
.agents-page_agents-page{padding-bottom:6rem}
@media(min-width:768px){.agents-page_agents-page{padding-bottom:15rem}}
