.agents-section_em{color:#b3b3b3}
.agents-section_invisible{visibility:hidden}
.agents-section_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.agents-section_desktop-only{display:initial!important;pointer-events:auto}}
.agents-section_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.agents-section_mobile-only{display:initial!important;pointer-events:auto}}
.agents-section_underline{text-decoration:underline}
.agents-section_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.agents-section_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.agents-section_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.agents-section_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.agents-section_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.agents-section_dropdown-content{padding:2rem 0}}
.agents-section_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.agents-section_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.agents-section_dropdown-trigger.agents-section_underlined{border-bottom:1px solid #151717}
.agents-section_dropdown-trigger.agents-section_outlined{border:1px solid rgba(21,23,23,.1)}
.agents-section_content{margin-bottom:4rem}
.agents-section_title{font-size:72px;font-weight:500;line-height:1;letter-spacing:-.04em;margin-bottom:4rem}
@media(min-width:768px){.agents-section_title{font-size:44px;letter-spacing:-.02em;margin-bottom:8rem}}
.agents-section_controls{display:flex;flex-direction:column;gap:2.4rem}
@media(min-width:768px){.agents-section_controls{flex-direction:row}.agents-section_controls>*{flex:1 1}}
