.agent-properties_em{color:#b3b3b3}
.agent-properties_invisible{visibility:hidden}
.agent-properties_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.agent-properties_desktop-only{display:initial!important;pointer-events:auto}}
.agent-properties_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.agent-properties_mobile-only{display:initial!important;pointer-events:auto}}
.agent-properties_underline{text-decoration:underline}
.agent-properties_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.agent-properties_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.agent-properties_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.agent-properties_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.agent-properties_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.agent-properties_dropdown-content{padding:2rem 0}}
.agent-properties_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.agent-properties_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.agent-properties_dropdown-trigger.agent-properties_underlined{border-bottom:1px solid #151717}
.agent-properties_dropdown-trigger.agent-properties_outlined{border:1px solid rgba(21,23,23,.1)}
.agent-properties_description{font-size:1.6rem;font-weight:500;line-height:1.5;margin-top:1.5rem}
@media(min-width:768px){.agent-properties_description{font-size:2rem;margin-top:2rem}}
.agent-properties_tabs{margin-top:4rem;display:flex;gap:1.2rem}
@media(min-width:768px){.agent-properties_tabs{margin-top:3rem}}
.agent-properties_tab{border:none;background:none;cursor:pointer;font-size:1.6rem;font-weight:500;line-height:1.5;border-radius:100px;padding:1rem 2rem;min-width:10rem;border:1px solid rgba(0,0,0,0)}
.agent-properties_tab[data-state=inactive]{border-color:rgba(21,23,23,.1);background-color:#fff}
.agent-properties_tab[data-state=active]{background-color:#151717;color:#fff}
@media(min-width:768px){.agent-properties_tab{font-size:2rem}}
.agent-properties_content{margin-top:4rem}
@media(min-width:768px){.agent-properties_content{margin-top:5rem}}
.agent-properties_pagination{margin-top:4rem}
@media(min-width:768px){.agent-properties_pagination{margin-top:5rem}}
.agent-properties_empty{margin-top:4rem;font-weight:500;font-size:2.4rem;line-height:1.3}
