.drop-menu_em{color:#b3b3b3}
.drop-menu_invisible{visibility:hidden}
.drop-menu_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.drop-menu_desktop-only{display:initial!important;pointer-events:auto}}
.drop-menu_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.drop-menu_mobile-only{display:initial!important;pointer-events:auto}}
.drop-menu_underline{text-decoration:underline}
.drop-menu_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.drop-menu_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.drop-menu_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.drop-menu_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.drop-menu_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.drop-menu_dropdown-content{padding:2rem 0}}
.drop-menu_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.drop-menu_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.drop-menu_dropdown-trigger.drop-menu_underlined{border-bottom:1px solid #151717}
.drop-menu_dropdown-trigger.drop-menu_outlined{border:1px solid rgba(21,23,23,.1)}
.drop-menu_drop-menu{width:100%;margin-top:1rem;width:34rem;border:1px solid #e0e0e0;padding:2rem 0;background-color:#fff;animation:drop-menu_appear .25s cubic-bezier(.4,0,.2,1);z-index:100}
.drop-menu_drop-menu-item{padding:2rem 3.2rem;font-weight:500;font-size:1.8rem;line-height:1;outline:none;cursor:pointer}
@media(min-width:768px){.drop-menu_drop-menu-item{font-size:2rem}}
.drop-menu_drop-menu-item:hover{background-color:#f0f0f0}
.drop-menu_drop-menu-item.drop-menu_-disabled{cursor:default;opacity:.5}
.drop-menu_drop-menu-item.drop-menu_-disabled:hover{background-color:rgba(0,0,0,0)}
