.dropdown-base_em{color:#b3b3b3}
.dropdown-base_invisible{visibility:hidden}
.dropdown-base_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.dropdown-base_desktop-only{display:initial!important;pointer-events:auto}}
.dropdown-base_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.dropdown-base_mobile-only{display:initial!important;pointer-events:auto}}
.dropdown-base_underline{text-decoration:underline}
.dropdown-base_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.dropdown-base_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.dropdown-base_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.dropdown-base_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.dropdown-base_content,.dropdown-base_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.dropdown-base_content,.dropdown-base_dropdown-content{padding:2rem 0}}
.dropdown-base_dropdown-trigger,.dropdown-base_trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.dropdown-base_dropdown-trigger,.dropdown-base_trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.dropdown-base_dropdown-trigger.dropdown-base_underlined,.dropdown-base_underlined.dropdown-base_trigger{border-bottom:1px solid #151717}
.dropdown-base_dropdown-trigger.dropdown-base_outlined,.dropdown-base_outlined.dropdown-base_trigger{border:1px solid rgba(21,23,23,.1)}
.dropdown-base_has-value{border-color:rgba(4,150,255,.3);background-color:rgba(4,150,255,.1)}
.dropdown-base_trigger-label{font-size:1.4rem;font-weight:500;line-height:1.5;white-space:nowrap}
@media(min-width:768px){.dropdown-base_trigger-label{font-size:1.6rem}}
.dropdown-base_content{padding:3rem;max-height:min-content;width:min(100%,55rem)}
