.form-text-input_em{color:#b3b3b3}
.form-text-input_invisible{visibility:hidden}
.form-text-input_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.form-text-input_desktop-only{display:initial!important;pointer-events:auto}}
.form-text-input_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.form-text-input_mobile-only{display:initial!important;pointer-events:auto}}
.form-text-input_underline{text-decoration:underline}
.form-text-input_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.form-text-input_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.form-text-input_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.form-text-input_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.form-text-input_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.form-text-input_dropdown-content{padding:2rem 0}}
.form-text-input_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.form-text-input_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.form-text-input_dropdown-trigger.form-text-input_underlined{border-bottom:1px solid #151717}
.form-text-input_dropdown-trigger.form-text-input_outlined{border:1px solid rgba(21,23,23,.1)}
.form-text-input_form-input.form-text-input_error .form-text-input_input-wrapper{border-color:#d92424;color:#d92424}
.form-text-input_form-input.form-text-input_error .form-text-input_label{color:#d92424}
.form-text-input_label{font-weight:400;font-size:1.4rem;line-height:1.5;color:#b3b3b3;display:flex;align-items:center;gap:1rem;margin-bottom:1.5rem}
@media(min-width:768px){.form-text-input_label{margin-bottom:2rem}}
.form-text-input_input-wrapper.form-text-input_error{color:#d92424;border-color:#d92424}
