.giving-back_em{color:#b3b3b3}
.giving-back_invisible{visibility:hidden}
.giving-back_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.giving-back_desktop-only{display:initial!important;pointer-events:auto}}
.giving-back_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.giving-back_mobile-only{display:initial!important;pointer-events:auto}}
.giving-back_underline{text-decoration:underline}
.giving-back_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.giving-back_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.giving-back_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.giving-back_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.giving-back_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.giving-back_dropdown-content{padding:2rem 0}}
.giving-back_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.giving-back_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.giving-back_dropdown-trigger.giving-back_underlined{border-bottom:1px solid #151717}
.giving-back_dropdown-trigger.giving-back_outlined{border:1px solid rgba(21,23,23,.1)}
.giving-back_wrapper{padding:4rem 0 6rem}
@media(min-width:768px){.giving-back_wrapper{padding:10rem 0}}
.giving-back_content{display:grid;grid-template-areas:"heading" "description" "image" "items"}
@media(min-width:768px){.giving-back_content{grid-template-areas:"heading description" "image items";grid-template-columns:auto auto;row-gap:10rem;-moz-column-gap:12.6rem;column-gap:12.6rem}}
.giving-back_description{font-weight:500;font-size:2.2rem;line-height:1.3;margin-top:3rem;grid-area:description}
@media(min-width:768px){.giving-back_description{font-size:3.2rem;letter-spacing:-.01em;margin-top:0}}
.giving-back_image{position:relative;width:100%;aspect-ratio:1/1;margin-top:4rem;overflow:hidden;grid-area:image}
.giving-back_image img{width:48.7rem!important;height:32.5rem!important;object-fit:cover;object-position:-13.3rem}
@media(min-width:768px){.giving-back_image{width:61.8rem;height:45rem;margin-top:0}.giving-back_image img{width:69.5rem!important;height:46.3rem!important;object-fit:cover;object-position:-7.7rem -1.35rem}}
.giving-back_heading{grid-area:heading}
.giving-back_items{grid-area:items;margin-top:4rem}
@media(min-width:768px){.giving-back_items{margin-top:0}}
.giving-back_item{display:flex;flex-direction:column;gap:3rem;padding:3rem 0;border-bottom:1px solid rgba(21,23,23,.1)}
.giving-back_item:first-child{border-top:1px solid rgba(21,23,23,.1)}
.giving-back_item:before{content:attr(data-index);font-size:1.4rem;font-weight:500;line-height:1.5;color:#b3b3b3;display:block}
@media(min-width:768px){.giving-back_item:before{font-size:2rem}}
.giving-back_item-title{font-weight:500;font-size:2.2rem;line-height:1.3}
@media(min-width:768px){.giving-back_item-title{font-size:4.4rem;line-height:1.15;letter-spacing:-.03em}}
.giving-back_item-content{display:flex;align-items:center;justify-content:space-between;gap:5rem;flex:1 1}
@media(min-width:768px){.giving-back_item{align-items:center;flex-direction:row}}
.giving-back_arrow{opacity:1}
.giving-back_arrow-wrapper{position:relative;overflow:hidden}
.giving-back_arrow-clone{position:absolute;top:0;left:0}
.giving-back_em{color:#b3b3b3}
.giving-back_invisible{visibility:hidden}
.giving-back_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.giving-back_desktop-only{display:initial!important;pointer-events:auto}}
.giving-back_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.giving-back_mobile-only{display:initial!important;pointer-events:auto}}
.giving-back_underline{text-decoration:underline}
.giving-back_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.giving-back_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.giving-back_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.giving-back_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.giving-back_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.giving-back_dropdown-content{padding:2rem 0}}
.giving-back_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.giving-back_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.giving-back_dropdown-trigger.giving-back_underlined{border-bottom:1px solid #151717}
.giving-back_dropdown-trigger.giving-back_outlined{border:1px solid rgba(21,23,23,.1)}
.giving-back_wrapper{padding:4rem 0 6rem}
@media(min-width:768px){.giving-back_wrapper{padding:10rem 0}}
.giving-back_content{display:grid;grid-template-areas:"heading" "description" "image" "items"}
@media(min-width:768px){.giving-back_content{grid-template-areas:"heading description" "image items";grid-template-columns:auto auto;row-gap:10rem;-moz-column-gap:12.6rem;column-gap:12.6rem}}
.giving-back_description{font-weight:500;font-size:2.2rem;line-height:1.3;margin-top:3rem;grid-area:description}
@media(min-width:768px){.giving-back_description{font-size:3.2rem;letter-spacing:-.01em;margin-top:0}}
.giving-back_image{position:relative;width:100%;aspect-ratio:1/1;margin-top:4rem;overflow:hidden;grid-area:image}
.giving-back_image img{width:48.7rem!important;height:32.5rem!important;object-fit:cover;object-position:-13.3rem}
@media(min-width:768px){.giving-back_image{width:61.8rem;height:45rem;margin-top:0}.giving-back_image img{width:69.5rem!important;height:46.3rem!important;object-fit:cover;object-position:-7.7rem -1.35rem}}
.giving-back_heading{grid-area:heading}
.giving-back_items{grid-area:items;margin-top:4rem}
@media(min-width:768px){.giving-back_items{margin-top:0}}
.giving-back_item{display:flex;flex-direction:column;gap:3rem;padding:3rem 0;border-bottom:1px solid rgba(21,23,23,.1)}
.giving-back_item:first-child{border-top:1px solid rgba(21,23,23,.1)}
.giving-back_item:before{content:attr(data-index);font-size:1.4rem;font-weight:500;line-height:1.5;color:#b3b3b3;display:block}
@media(min-width:768px){.giving-back_item:before{font-size:2rem}}
.giving-back_item-title{font-weight:500;font-size:2.2rem;line-height:1.3}
@media(min-width:768px){.giving-back_item-title{font-size:4.4rem;line-height:1.15;letter-spacing:-.03em}}
.giving-back_item-content{display:flex;align-items:center;justify-content:space-between;gap:5rem;flex:1 1}
@media(min-width:768px){.giving-back_item{align-items:center;flex-direction:row}}
.giving-back_arrow{opacity:1}
.giving-back_arrow-wrapper{position:relative;overflow:hidden}
.giving-back_arrow-clone{position:absolute;top:0;left:0}
.giving-back_em{color:#b3b3b3}
.giving-back_invisible{visibility:hidden}
.giving-back_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.giving-back_desktop-only{display:initial!important;pointer-events:auto}}
.giving-back_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.giving-back_mobile-only{display:initial!important;pointer-events:auto}}
.giving-back_underline{text-decoration:underline}
.giving-back_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.giving-back_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.giving-back_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.giving-back_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.giving-back_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.giving-back_dropdown-content{padding:2rem 0}}
.giving-back_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.giving-back_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.giving-back_dropdown-trigger.giving-back_underlined{border-bottom:1px solid #151717}
.giving-back_dropdown-trigger.giving-back_outlined{border:1px solid rgba(21,23,23,.1)}
.giving-back_wrapper{padding:4rem 0 6rem}
@media(min-width:768px){.giving-back_wrapper{padding:10rem 0}}
.giving-back_content{display:grid;grid-template-areas:"heading" "description" "image" "items"}
@media(min-width:768px){.giving-back_content{grid-template-areas:"heading description" "image items";grid-template-columns:auto auto;row-gap:10rem;-moz-column-gap:12.6rem;column-gap:12.6rem}}
.giving-back_description{font-weight:500;font-size:2.2rem;line-height:1.3;margin-top:3rem;grid-area:description}
@media(min-width:768px){.giving-back_description{font-size:3.2rem;letter-spacing:-.01em;margin-top:0}}
.giving-back_image{position:relative;width:100%;aspect-ratio:1/1;margin-top:4rem;overflow:hidden;grid-area:image}
.giving-back_image img{width:48.7rem!important;height:32.5rem!important;object-fit:cover;object-position:-13.3rem}
@media(min-width:768px){.giving-back_image{width:61.8rem;height:45rem;margin-top:0}.giving-back_image img{width:69.5rem!important;height:46.3rem!important;object-fit:cover;object-position:-7.7rem -1.35rem}}
.giving-back_heading{grid-area:heading}
.giving-back_items{grid-area:items;margin-top:4rem}
@media(min-width:768px){.giving-back_items{margin-top:0}}
.giving-back_item{display:flex;flex-direction:column;gap:3rem;padding:3rem 0;border-bottom:1px solid rgba(21,23,23,.1)}
.giving-back_item:first-child{border-top:1px solid rgba(21,23,23,.1)}
.giving-back_item:before{content:attr(data-index);font-size:1.4rem;font-weight:500;line-height:1.5;color:#b3b3b3;display:block}
@media(min-width:768px){.giving-back_item:before{font-size:2rem}}
.giving-back_item-title{font-weight:500;font-size:2.2rem;line-height:1.3}
@media(min-width:768px){.giving-back_item-title{font-size:4.4rem;line-height:1.15;letter-spacing:-.03em}}
.giving-back_item-content{display:flex;align-items:center;justify-content:space-between;gap:5rem;flex:1 1}
@media(min-width:768px){.giving-back_item{align-items:center;flex-direction:row}}
.giving-back_arrow{opacity:1}
.giving-back_arrow-wrapper{position:relative;overflow:hidden}
.giving-back_arrow-clone{position:absolute;top:0;left:0}
.giving-back_em{color:#b3b3b3}
.giving-back_invisible{visibility:hidden}
.giving-back_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.giving-back_desktop-only{display:initial!important;pointer-events:auto}}
.giving-back_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.giving-back_mobile-only{display:initial!important;pointer-events:auto}}
.giving-back_underline{text-decoration:underline}
.giving-back_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.giving-back_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.giving-back_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.giving-back_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.giving-back_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.giving-back_dropdown-content{padding:2rem 0}}
.giving-back_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.giving-back_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.giving-back_dropdown-trigger.giving-back_underlined{border-bottom:1px solid #151717}
.giving-back_dropdown-trigger.giving-back_outlined{border:1px solid rgba(21,23,23,.1)}
.giving-back_wrapper{padding:4rem 0 6rem}
@media(min-width:768px){.giving-back_wrapper{padding:10rem 0}}
.giving-back_content{display:grid;grid-template-areas:"heading" "description" "image" "items"}
@media(min-width:768px){.giving-back_content{grid-template-areas:"heading description" "image items";grid-template-columns:auto auto;row-gap:10rem;-moz-column-gap:12.6rem;column-gap:12.6rem}}
.giving-back_description{font-weight:500;font-size:2.2rem;line-height:1.3;margin-top:3rem;grid-area:description}
@media(min-width:768px){.giving-back_description{font-size:3.2rem;letter-spacing:-.01em;margin-top:0}}
.giving-back_image{position:relative;width:100%;aspect-ratio:1/1;margin-top:4rem;overflow:hidden;grid-area:image}
.giving-back_image img{width:48.7rem!important;height:32.5rem!important;object-fit:cover;object-position:-13.3rem}
@media(min-width:768px){.giving-back_image{width:61.8rem;height:45rem;margin-top:0}.giving-back_image img{width:69.5rem!important;height:46.3rem!important;object-fit:cover;object-position:-7.7rem -1.35rem}}
.giving-back_heading{grid-area:heading}
.giving-back_items{grid-area:items;margin-top:4rem}
@media(min-width:768px){.giving-back_items{margin-top:0}}
.giving-back_item{display:flex;flex-direction:column;gap:3rem;padding:3rem 0;border-bottom:1px solid rgba(21,23,23,.1)}
.giving-back_item:first-child{border-top:1px solid rgba(21,23,23,.1)}
.giving-back_item:before{content:attr(data-index);font-size:1.4rem;font-weight:500;line-height:1.5;color:#b3b3b3;display:block}
@media(min-width:768px){.giving-back_item:before{font-size:2rem}}
.giving-back_item-title{font-weight:500;font-size:2.2rem;line-height:1.3}
@media(min-width:768px){.giving-back_item-title{font-size:4.4rem;line-height:1.15;letter-spacing:-.03em}}
.giving-back_item-content{display:flex;align-items:center;justify-content:space-between;gap:5rem;flex:1 1}
@media(min-width:768px){.giving-back_item{align-items:center;flex-direction:row}}
.giving-back_arrow{opacity:1}
.giving-back_arrow-wrapper{position:relative;overflow:hidden}
.giving-back_arrow-clone{position:absolute;top:0;left:0}
.giving-back_em{color:#b3b3b3}
.giving-back_invisible{visibility:hidden}
.giving-back_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.giving-back_desktop-only{display:initial!important;pointer-events:auto}}
.giving-back_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.giving-back_mobile-only{display:initial!important;pointer-events:auto}}
.giving-back_underline{text-decoration:underline}
.giving-back_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.giving-back_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.giving-back_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.giving-back_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.giving-back_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.giving-back_dropdown-content{padding:2rem 0}}
.giving-back_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.giving-back_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.giving-back_dropdown-trigger.giving-back_underlined{border-bottom:1px solid #151717}
.giving-back_dropdown-trigger.giving-back_outlined{border:1px solid rgba(21,23,23,.1)}
.giving-back_wrapper{padding:4rem 0 6rem}
@media(min-width:768px){.giving-back_wrapper{padding:10rem 0}}
.giving-back_content{display:grid;grid-template-areas:"heading" "description" "image" "items"}
@media(min-width:768px){.giving-back_content{grid-template-areas:"heading description" "image items";grid-template-columns:auto auto;row-gap:10rem;-moz-column-gap:12.6rem;column-gap:12.6rem}}
.giving-back_description{font-weight:500;font-size:2.2rem;line-height:1.3;margin-top:3rem;grid-area:description}
@media(min-width:768px){.giving-back_description{font-size:3.2rem;letter-spacing:-.01em;margin-top:0}}
.giving-back_image{position:relative;width:100%;aspect-ratio:1/1;margin-top:4rem;overflow:hidden;grid-area:image}
.giving-back_image img{width:48.7rem!important;height:32.5rem!important;object-fit:cover;object-position:-13.3rem}
@media(min-width:768px){.giving-back_image{width:61.8rem;height:45rem;margin-top:0}.giving-back_image img{width:69.5rem!important;height:46.3rem!important;object-fit:cover;object-position:-7.7rem -1.35rem}}
.giving-back_heading{grid-area:heading}
.giving-back_items{grid-area:items;margin-top:4rem}
@media(min-width:768px){.giving-back_items{margin-top:0}}
.giving-back_item{display:flex;flex-direction:column;gap:3rem;padding:3rem 0;border-bottom:1px solid rgba(21,23,23,.1)}
.giving-back_item:first-child{border-top:1px solid rgba(21,23,23,.1)}
.giving-back_item:before{content:attr(data-index);font-size:1.4rem;font-weight:500;line-height:1.5;color:#b3b3b3;display:block}
@media(min-width:768px){.giving-back_item:before{font-size:2rem}}
.giving-back_item-title{font-weight:500;font-size:2.2rem;line-height:1.3}
@media(min-width:768px){.giving-back_item-title{font-size:4.4rem;line-height:1.15;letter-spacing:-.03em}}
.giving-back_item-content{display:flex;align-items:center;justify-content:space-between;gap:5rem;flex:1 1}
@media(min-width:768px){.giving-back_item{align-items:center;flex-direction:row}}
.giving-back_arrow{opacity:1}
.giving-back_arrow-wrapper{position:relative;overflow:hidden}
.giving-back_arrow-clone{position:absolute;top:0;left:0}
.giving-back_em{color:#b3b3b3}
.giving-back_invisible{visibility:hidden}
.giving-back_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.giving-back_desktop-only{display:initial!important;pointer-events:auto}}
.giving-back_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.giving-back_mobile-only{display:initial!important;pointer-events:auto}}
.giving-back_underline{text-decoration:underline}
.giving-back_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.giving-back_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.giving-back_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.giving-back_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.giving-back_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.giving-back_dropdown-content{padding:2rem 0}}
.giving-back_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.giving-back_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.giving-back_dropdown-trigger.giving-back_underlined{border-bottom:1px solid #151717}
.giving-back_dropdown-trigger.giving-back_outlined{border:1px solid rgba(21,23,23,.1)}
.giving-back_wrapper{padding:4rem 0 6rem}
@media(min-width:768px){.giving-back_wrapper{padding:10rem 0}}
.giving-back_content{display:grid;grid-template-areas:"heading" "description" "image" "items"}
@media(min-width:768px){.giving-back_content{grid-template-areas:"heading description" "image items";grid-template-columns:auto auto;row-gap:10rem;-moz-column-gap:12.6rem;column-gap:12.6rem}}
.giving-back_description{font-weight:500;font-size:2.2rem;line-height:1.3;margin-top:3rem;grid-area:description}
@media(min-width:768px){.giving-back_description{font-size:3.2rem;letter-spacing:-.01em;margin-top:0}}
.giving-back_image{position:relative;width:100%;aspect-ratio:1/1;margin-top:4rem;overflow:hidden;grid-area:image}
.giving-back_image img{width:48.7rem!important;height:32.5rem!important;object-fit:cover;object-position:-13.3rem}
@media(min-width:768px){.giving-back_image{width:61.8rem;height:45rem;margin-top:0}.giving-back_image img{width:69.5rem!important;height:46.3rem!important;object-fit:cover;object-position:-7.7rem -1.35rem}}
.giving-back_heading{grid-area:heading}
.giving-back_items{grid-area:items;margin-top:4rem}
@media(min-width:768px){.giving-back_items{margin-top:0}}
.giving-back_item{display:flex;flex-direction:column;gap:3rem;padding:3rem 0;border-bottom:1px solid rgba(21,23,23,.1)}
.giving-back_item:first-child{border-top:1px solid rgba(21,23,23,.1)}
.giving-back_item:before{content:attr(data-index);font-size:1.4rem;font-weight:500;line-height:1.5;color:#b3b3b3;display:block}
@media(min-width:768px){.giving-back_item:before{font-size:2rem}}
.giving-back_item-title{font-weight:500;font-size:2.2rem;line-height:1.3}
@media(min-width:768px){.giving-back_item-title{font-size:4.4rem;line-height:1.15;letter-spacing:-.03em}}
.giving-back_item-content{display:flex;align-items:center;justify-content:space-between;gap:5rem;flex:1 1}
@media(min-width:768px){.giving-back_item{align-items:center;flex-direction:row}}
.giving-back_arrow{opacity:1}
.giving-back_arrow-wrapper{position:relative;overflow:hidden}
.giving-back_arrow-clone{position:absolute;top:0;left:0}
