.mobile-beds-and-baths-filter_em{color:#b3b3b3}
.mobile-beds-and-baths-filter_invisible{visibility:hidden}
.mobile-beds-and-baths-filter_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.mobile-beds-and-baths-filter_desktop-only{display:initial!important;pointer-events:auto}}
.mobile-beds-and-baths-filter_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.mobile-beds-and-baths-filter_mobile-only{display:initial!important;pointer-events:auto}}
.mobile-beds-and-baths-filter_underline{text-decoration:underline}
.mobile-beds-and-baths-filter_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.mobile-beds-and-baths-filter_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.mobile-beds-and-baths-filter_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.mobile-beds-and-baths-filter_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.mobile-beds-and-baths-filter_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.mobile-beds-and-baths-filter_dropdown-content{padding:2rem 0}}
.mobile-beds-and-baths-filter_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.mobile-beds-and-baths-filter_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.mobile-beds-and-baths-filter_dropdown-trigger.mobile-beds-and-baths-filter_underlined{border-bottom:1px solid #151717}
.mobile-beds-and-baths-filter_dropdown-trigger.mobile-beds-and-baths-filter_outlined{border:1px solid rgba(21,23,23,.1)}
.mobile-beds-and-baths-filter_options{display:flex}
.mobile-beds-and-baths-filter_options>*{flex:1 1}
.mobile-beds-and-baths-filter_option{font-size:1.4rem;font-weight:500;line-height:1.5;min-width:5rem;cursor:pointer;border:1px solid #f1f1f1;border-right:none;background-color:#fff;padding:1.3rem 0}
.mobile-beds-and-baths-filter_option[data-state=on]{background-color:#151717;border-color:none;color:#fff}
.mobile-beds-and-baths-filter_option:last-child{border-right:1px solid #f1f1f1}
.mobile-beds-and-baths-filter_label{font-size:1.4rem;font-weight:500;line-height:1.5;margin-bottom:1rem}
