.non-certified-agent-page_em{color:#b3b3b3}
.non-certified-agent-page_invisible{visibility:hidden}
.non-certified-agent-page_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.non-certified-agent-page_desktop-only{display:initial!important;pointer-events:auto}}
.non-certified-agent-page_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.non-certified-agent-page_mobile-only{display:initial!important;pointer-events:auto}}
.non-certified-agent-page_underline{text-decoration:underline}
.non-certified-agent-page_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.non-certified-agent-page_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.non-certified-agent-page_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.non-certified-agent-page_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.non-certified-agent-page_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.non-certified-agent-page_dropdown-content{padding:2rem 0}}
.non-certified-agent-page_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.non-certified-agent-page_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.non-certified-agent-page_dropdown-trigger.non-certified-agent-page_underlined{border-bottom:1px solid #151717}
.non-certified-agent-page_dropdown-trigger.non-certified-agent-page_outlined{border:1px solid rgba(21,23,23,.1)}
.non-certified-agent-page_wrapper{padding:2rem 2.5rem 6rem}
@media(min-width:768px){.non-certified-agent-page_wrapper{padding:15rem 2.5rem}}
.non-certified-agent-page_container{display:flex;flex-direction:column;gap:6rem;max-width:152rem;margin:0 auto}
@media(min-width:768px){.non-certified-agent-page_container{display:grid;grid-template-columns:minmax(37.5rem,44.4rem) 1fr;grid-gap:10rem;gap:10rem}}
.non-certified-agent-page_heading{font-size:2.2rem;font-weight:500;line-height:1.3}
@media(min-width:768px){.non-certified-agent-page_heading{font-size:3.2rem;letter-spacing:-.01em}}
