.rating_em{color:#b3b3b3}
.rating_invisible{visibility:hidden}
.rating_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.rating_desktop-only{display:initial!important;pointer-events:auto}}
.rating_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.rating_mobile-only{display:initial!important;pointer-events:auto}}
.rating_underline{text-decoration:underline}
.rating_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.rating_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.rating_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.rating_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.rating_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.rating_dropdown-content{padding:2rem 0}}
.rating_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.rating_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.rating_dropdown-trigger.rating_underlined{border-bottom:1px solid #151717}
.rating_dropdown-trigger.rating_outlined{border:1px solid rgba(21,23,23,.1)}
.rating_rating{margin-top:1.4rem;display:flex;align-items:center;gap:1rem}
.rating_rating-stars{gap:.4rem;display:flex;gap:.2rem}
.rating_rating-votes{font-size:2rem;font-weight:500;line-height:1.3}
.rating_rating-votes:before{content:"("}
.rating_rating-votes:after{content:")"}
