.skeleton_em{color:#b3b3b3}
.skeleton_invisible{visibility:hidden}
.skeleton_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.skeleton_desktop-only{display:initial!important;pointer-events:auto}}
.skeleton_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.skeleton_mobile-only{display:initial!important;pointer-events:auto}}
.skeleton_underline{text-decoration:underline}
.skeleton_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.skeleton_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.skeleton_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.skeleton_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.skeleton_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.skeleton_dropdown-content{padding:2rem 0}}
.skeleton_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.skeleton_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.skeleton_dropdown-trigger.skeleton_underlined{border-bottom:1px solid #151717}
.skeleton_dropdown-trigger.skeleton_outlined{border:1px solid rgba(21,23,23,.1)}
.skeleton_skeleton{animation:skeleton_skeleton-pulse 1s infinite alternate-reverse;background-image:none;background-clip:border-box;border:none;box-shadow:none;-webkit-box-decoration-break:clone;box-decoration-break:clone;color:rgba(0,0,0,0);outline:none;pointer-events:none;-webkit-user-select:none;user-select:none;cursor:default;height:var(--skeleton-height);width:var(--skeleton-width)}
.skeleton_skeleton:after,.skeleton_skeleton:before,.skeleton_skeleton>*{visibility:hidden}
