.slider-controls_em{color:#b3b3b3}
.slider-controls_invisible{visibility:hidden}
.slider-controls_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.slider-controls_desktop-only{display:initial!important;pointer-events:auto}}
.slider-controls_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.slider-controls_mobile-only{display:initial!important;pointer-events:auto}}
.slider-controls_underline{text-decoration:underline}
.slider-controls_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.slider-controls_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.slider-controls_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.slider-controls_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.slider-controls_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.slider-controls_dropdown-content{padding:2rem 0}}
.slider-controls_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.slider-controls_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.slider-controls_dropdown-trigger.slider-controls_underlined{border-bottom:1px solid #151717}
.slider-controls_dropdown-trigger.slider-controls_outlined{border:1px solid rgba(21,23,23,.1)}
.slider-controls_controls{position:relative;z-index:1;display:flex;align-items:center;justify-content:space-between;pointer-events:none;padding:0 var(--side-gap,2.5rem)!important}
@media(min-width:768px){.slider-controls_controls{padding:0 var(--side-gap,10rem)!important;gap:10rem;transform:translateY(calc(-50% - 1px))}}
@media(min-width:1920px){.slider-controls_controls{padding:0 calc((var(--full-width) - 1920px)/2 + var(--side-gap, 10rem))!important}}
.slider-controls_controls>*{pointer-events:auto}
.slider-controls_counter{display:none}
@media(min-width:768px){.slider-controls_counter{display:flex;align-items:baseline}}
.slider-controls_counter-current-value{font-size:4.4rem;font-weight:500;line-height:1;letter-spacing:-.02em;position:relative}
.slider-controls_counter-value{position:absolute;top:50%;left:.1em;transform:translateY(-50%)}
.slider-controls_counter-total{font-size:2.4rem;font-weight:500;line-height:1.5;color:#b3b3b3}
.slider-controls_counter-total:before{content:"/";margin:0 1.5rem}
.slider-controls_counter-placeholder{visibility:hidden;pointer-events:none}
.slider-controls_progress{position:relative;height:3px;flex:1 1;background:rgba(21,23,23,.1);cursor:pointer}
.slider-controls_progress:before{content:"";position:absolute;width:100%;top:50%;left:0;transform:translateY(-50%);height:30px}
.slider-controls_roller{height:100%;background:#151717;transition:transform .3s ease-in-out}
.slider-controls_navigation{display:flex;align-items:center;gap:1rem}
.slider-controls_navigation-left{transform:rotate(180deg)}
