.stat-cards_em{color:#b3b3b3}
.stat-cards_invisible{visibility:hidden}
.stat-cards_desktop-only{display:none!important;pointer-events:none}
@media(min-width:768px){.stat-cards_desktop-only{display:initial!important;pointer-events:auto}}
.stat-cards_mobile-only{display:none!important;pointer-events:none}
@media(max-width:767px){.stat-cards_mobile-only{display:initial!important;pointer-events:auto}}
.stat-cards_underline{text-decoration:underline}
.stat-cards_dropdown-item{font-size:1.4rem;font-weight:500;line-height:1.5;cursor:pointer;padding:.75rem 1.5rem;display:flex;align-items:center;gap:1rem}
.stat-cards_dropdown-item:hover{background-color:#ededed;box-shadow:none;outline:none;border:none;filter:none}
.stat-cards_dropdown-item[data-selected=true]{background-color:#ededed}
@media(min-width:768px){.stat-cards_dropdown-item{font-size:1.8rem;padding:1.35rem 3rem}}
.stat-cards_dropdown-content{margin-top:1rem;max-height:25rem;z-index:201;background-color:#fff;border:1px solid rgba(21,23,23,.1);padding:1rem 0}
@media(min-width:768px){.stat-cards_dropdown-content{padding:2rem 0}}
.stat-cards_dropdown-trigger{display:flex;align-items:center;justify-content:space-between;gap:1rem;width:100%;cursor:pointer;padding:1.2rem 1rem 1.2rem 1.5rem}
@media(min-width:768px){.stat-cards_dropdown-trigger{padding:1.5rem 1.5rem 1.5rem 2rem}}
.stat-cards_dropdown-trigger.stat-cards_underlined{border-bottom:1px solid #151717}
.stat-cards_dropdown-trigger.stat-cards_outlined{border:1px solid rgba(21,23,23,.1)}
@media(max-width:767px){.stat-cards_stat-cards{margin:6rem calc(-50vw + 50% + var(--scrollbar-width, 0px))}}
@media(min-width:768px){.stat-cards_stat-cards{margin:10rem 0 0;padding:5rem 0 20rem}}
.stat-cards_stat-cards-inner{display:flex;gap:3rem}
@media(max-width:767px){.stat-cards_stat-cards-inner{padding:0 2.5rem;overflow-x:auto;gap:1rem;scroll-snap-type:x mandatory;scroll-padding:2.5rem;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none}.stat-cards_stat-cards-inner::-webkit-scrollbar{display:none}.stat-cards_stat-cards-inner>*{width:25rem;flex-shrink:0;scroll-snap-align:start}}
@media(min-width:768px){.stat-cards_stat-cards-inner>*{flex:1 1;max-width:calc((100% - 9rem)/4)}}
.stat-cards_stat-card{--icon-size:3.2rem;aspect-ratio:250/280;background-color:rgba(33,33,33,.8);border:1px solid rgba(179,179,179,.1);padding:3rem;display:flex;flex-direction:column}
.stat-cards_stat-card svg{width:var(--icon-size);height:var(--icon-size)}
@media(min-width:768px){.stat-cards_stat-card{--icon-size:4rem;opacity:0;padding:5rem;transition:opacity .85s ease-in-out;aspect-ratio:1/1}}
.stat-cards_stat-card-value{font-size:3rem;font-weight:500;line-height:1.3;letter-spacing:-.01em;margin-top:auto;color:#fff}
@media(min-width:768px){.stat-cards_stat-card-value{font-size:4.4rem;line-height:1.15}}
.stat-cards_stat-card-label{font-weight:500;font-size:1.6rem;line-height:1.5;margin-top:.5rem;color:#b3b3b3}
@media(min-width:768px){.stat-cards_stat-card-label{margin-top:1.5rem}}
